<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <h1 class="text-center my-4">Cuenta</h1>

    <div *ngIf="user" class="profile card">
        <div class="card-body">
            <p class="card-text"><strong>ID:</strong> {{user.id}}</p>
            <p class="card-text"><strong>Nombre:</strong> {{user.firstname}}</p>
            <p class="card-text"><strong>Apellido:</strong> {{user.secondName}}</p>
            <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
            <p class="card-text"><strong>Tipo:</strong> {{user.type}}</p>
            <p class="card-text"><strong>Puntos:</strong> {{user.points}}</p>
        </div>
    </div>
</div>