<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container my-4">
    <div class="row">
        <div class="col-md-4" *ngFor="let reward of rewards">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ reward.pin }}</h5>
                    <p class="card-text">
                        ID: {{ reward.id }} <br>
                        Unit: {{ reward.unit }} <br>
                        Address: {{ reward.address }} <br>
                        Description: {{ reward.description }} <br>
                    </p>
                    <button class="btn btn-success">Reclamar por {{ reward.cost }}</button>
                </div>
            </div>
        </div>
    </div>
</div>